@using VBRepo
@model Medarbejder
@{
    ViewBag.Title = "AdmMedarbejderEdit";
    Layout = "~/Views/Shared/Adm_Layout.cshtml";

}

<section class="container admButikEdit">
    <h2>Edit @Model.Navn</h2>

    <form name="myForm" action="/Admin/AdmMedarbejderEditResult/" enctype="multipart/form-data" method="post">
        <table>
            <tr>
                <td>Billede:</td>
                <td><input type="file" id="img" name="img" value="@Model.IMG" /></td>
            </tr>
            <tr>
                <td>Produkt Navn:</td>
                <td>
                    <input type="text" id="navn" name="navn" value="@Model.Navn" />
                </td>
            </tr>
            <tr>
                <td>Produkt tekst:</td>
                <td>
                    <textarea id="text" name="tekst">@Model.Tekst</textarea>
                </td>
            </tr>
        </table>

        <input onclick="ValidateGem" type="submit" value="Gem" />


        <input type="hidden" id="ID" name="ID" value="@Model.ID" />
    </form>
    <a href="/Admin/AdmMedarbejder">Gå tilbage</a>
</section>