
@using VBRepo
@model List<Vare_info>
@{
    ViewBag.Title = "butikken";
}

<section class="Butikken">

    @foreach (Vare_info v in Model)
    {
        <div class="Vare ">
            <img src="~/Content/IMG/@v.IMG" />
            <h4>@v.Navn</h4>
            <p>@v.Tekst</p>
            <hr />
            <p>@v.Pris kr</p>
            <a href="/Butik/Vare/@v.ID">Læs mere</a>
        </div>
    }

    @Html.Raw(ViewBag.filler_1)
    @Html.Raw(ViewBag.filler_2)

    <h1>@ViewBag.test</h1>
</section>

